startup --host_jvm_args=-Dbazel.DigestFunction=SHA1
build --strategy=Scalac=worker
build --strict_java_deps=warn
test --strategy=Scalac=worker
test --test_arg=--jvm_flags=-Dcom.google.testing.junit.runner.shouldInstallTestSecurityManager=false
build --experimental_ui
test --experimental_ui
      